/*  partial  reset of CSS*/
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    }

body {
    background-color: #ccc;
    }

/* Header */
header{
    text-align: center;
    font-size: 2em;
    }

#head {
    font-family: 'Courgette', cursive;
}

/* Navigation */
.navigator {
    width: 100%;
    background-color: #08ADE0;
    text-align: center;
    }

.navigator > div > ul {
    width: 100%;    
    margin: 10px auto;
    border-width: 3px;
    padding: 10px 10px;
    text-align: center;
    }

.navigator > ul > li {
    list-style:none;
    display: inline-block;
    vertical-align: top;
    width: 310px;
    background-color: #08ADE0;
    box-sizing: border-box;
    margin: 10px auto;
    border-width: 3px;
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    }

.navigator a:hover {
    font-size: 25px;
    color: #FFF; 
    }

/* banner*/
#banner{
	/*background-color: rgba(255,255,255,.5);*/
    overflow: auto;
	width:  100%;
    }

#banner.mainimg{
    width: 100%;
    }

#banner .mainimg img{
    width: 100%;
	}

/* Content */
#content {
    width: 80%;
	margin:  0 auto;
   /* background-color: rgba(255,255,255,.5);*/
    overflow: auto;
   /* border-radius: 2%;*/
    }

#content .mainimg{
    width: 100%;
    }

#content .mainimg img{
    width: 100%;
    }

/* Content Boxes */
#content {
	margin-top: 30px;
	margin-bottom: 30px;
    }

#content .box{
	width: 30%;
    border-width: 1px;
    padding: 10px 10px;
    text-align: center;
    float:left;
    }

/*Table  for the Animals*/
#left{
	width: 35%;
	float: left;
	margin-top: 40%;
	font-size: 2em;
	}

p {
	font-family: 'Open Sans'  Tahoma;
	font-size: 1em;
    }

#right{
	width: 65%;
	float: right;
    }

table {
	/* border: #000000 1px solid; */
	float: right;
	margin-right: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    }

table, th, td {
     /*border: 2px solid black;*/
    border-collapse: collapse;
    }

td {
	height: 133px;
	width: 200px;
    }

td img {
	height: 133px;
	width: 200px;
	box-shadow: none;
    }

th  {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543
    }

/* float images to right*/
#image-right {
	float: right;
	width: 50%;
	margin-top: -21%;
	}

#image-right2 {
	float: right;
	width: 40%;
	margin-top: -15%;
	margin-left: 50%
	}

#about_paragraph {
	float: left;
	width: 50%;
	}

/* footer */
.footer {
    background-color: #000;
    text-align: center;
    color: #FFF;
    margin: 10px auto;
    border-width: 3px;
    padding: 40px 40px;
/*    text-align: center;  is duplicate (jv)*/
    }

.footer div p{
    font-size: 30px;
    }